      - name: Build QEMU WASM properly (FIXED)
        run: |
          docker run --rm -d --name qb \
            -v ${{ github.workspace }}/qemu-wasm:/qemu \
            -w /qemu \
            qemu-wasm-builder tail -f /dev/null

          docker exec qb npm install xterm-pty

          docker exec qb sh -c '
            EXTRA_CFLAGS="-O3 -DNDEBUG -DG_DISABLE_ASSERT -D_GNU_SOURCE -sASYNCIFY=1 -pthread -sPROXY_TO_PTHREAD=1 -sFORCE_FILESYSTEM -sALLOW_TABLE_GROWTH -sTOTAL_MEMORY=2300MB -sWASM_BIGINT -sMALLOC=mimalloc --js-library=/qemu/node_modules/xterm-pty/emscripten-pty.js -sEXPORT_ES6=1 -sMODULARIZE=1 -sUSE_PTHREADS=1 -sPTHREAD_POOL_SIZE=4"
            
            emconfigure ./configure \
              --target-list=x86_64-softmmu \
              --enable-system --disable-werror \
              --extra-cflags="$EXTRA_CFLAGS" \
              --extra-ldflags="-sEXPORTED_RUNTIME_METHODS=FS,ENV,ERRNO_CODES,addFunction,removeFunction"
            
            emmake make -j$(nproc) qemu-system-x86_64
          '

          # अब सही तरीके से .js और .wasm दोनों htdocs में copy होंगे
          docker exec qb sh -c '
            cd build || cd .
            cp qemu-system-x86_64.* /qemu/htdocs/ 2>/dev/null || cp x86_64-softmmu/qemu-system-x86_64.* /qemu/htdocs/
            ls -lh /qemu/htdocs/
          '

          # Bundle the ISO (same as before)
          docker exec qb python3 /emsdk/upstream/emscripten/tools/file_packager.py \
            /qemu/htdocs/qemu.data \
            --preload /qemu/htdocs/images/android-x86.iso@/android-x86.iso \
            --js-output=/qemu/htdocs/load.js \
            --use-preload-plugins --lz4

          docker stop qb
